
FileHanderApplication/.vs/FileHanderApplication/v15/Server/sqlite3/db.lock
FileHanderApplication/.vs/FileHanderApplication/v15/Server/sqlite3/storage.ide
FileHanderApplication/.vs/FileHanderApplication/v15/.suo
